<div class="container">
    <h3 class="my-3">About Moto insurance</h3>
    <hr/>

    <div class="justify-content-justify">
        <p>Motor insurance is a vehicle insurance policy that is mandatory for vehicles like trucks, cars, jeeps, bikes, scooters, etc. This policy offers coverage to the vehicle owner/driver against financial losses that may occur due to accidents or other kinds of damages.</p>
        <p>Having valid motor insurance is compulsory in India to protect vehicle owners from potential financial risks. It is the best form of security that you can acquire to prevent significant expenses that result after an accident. The Government poses the compulsion for the safety of the individuals who travel via motor vehicles daily.</p>
        <p>No one can deny that buying a vehicle is the second most expensive investment in a person’s life after home. Thus, protecting the investment against unforeseen events is crucial. Considering the hike in the vehicle repair charges and the risks involved in driving, an unfortunate accident can put a big hole in your pocket.</p>
        <p>The yearly premiums that you pay for the motor insurance policy are meagre as compared to the advantages and protection the coverage will offer you in case of mishaps. Though there are many misconceptions regarding the policy, it will most certainly compensate you against the physical damage that arises under different circumstances.</p>
    </div>

    <h3 class="my-3">Types of Moto insurance</h3>
    <hr/>

    <div>
        <p>Whether you are buying a private car, two-wheeler, or a commercial one, the types of motor insurance plans are broadly classified into two:</p>
        <br>
        <ul>
            <li>
                <h5>Comprehensive Insurance Policy</h5>
                <p>With this policy, you can pay for damage to your vehicle as well as others, including motorbikes, private cars, scooters, and commercial vehicles.</p>
            </li>
            <li>
                <h5>Third-party Insurance Policy</h5>
                <p>The third-party motor insurance policy is liability coverage that is uniformly applicable to all vehicles. As per the Motor Vehicles Act of 1988, third party car insurance and third party insurance for bike are compulsory for vehicles plying on Indian roads. Failure to comply with this rule would result in an individual to paying hefty fines according to the Motor Amendments Act, 2019.</p>
            </li>
            <li>
                <h5>Pay As You Go</h5>
                <p>It is a new type of policy that allows the policyholders to pay by calculating the kilometres driven.</p>
            </li>
        </ul>
    </div>

    <h3>Inclusions Under Our Motor Insurance Plans</h3>
    <hr/>

    <div>
        <p>Before buying a vehicle insurance policy, you must explore the extent of the coverage that comes with the plans. Here is a list of inclusions in the comprehensive policy offered by our company. Remember that a Comprehensive Vehicle Insurance Policy covers Third-party liability too.</p>
        <br>

        <ul>
            <li>
                <h5>Third-Party Coverage :</h5>
                <p>The third-party coverage will pay for the damage inflicted by a person on other people and their property in the case to fulfil your obligations</p>
            </li>
            <li>
                <h5>Personal Accident Cover :</h5>
                <p> It will allow a driver or vehicle owner to compensate the third-party for a sum of INR 15 lakhs in case of permanent disability or death of a person.</p>
            </li>
            <li>
                <h5>Damage Due To Natural Calamities :</h5>
                <p>The inhumane activities like burglary, riots, strikes, malicious acts, theft, vandalism, and similar activities are also covered in your vehicle insurance policy.</p>
                <p>Both third-party liability and comprehensive coverage is a legal requirement for all vehicle owners and drivers that involve both private cars, two-wheelers, and commercial vehicles. If you fail to oblige, you might face additional charges. So, make sure that you opt for the policy that provides sufficient coverage to keep you safe physically, mentally, and financially.</p>
            </li>
        </ul>
    </div>
</div>